#title {
    border: none;
}
div {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    width: 50%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
}
#submit {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    width: 50%;
    border: none;
    padding: 10px;
}
p {
    font-style: italic;
}